
<div class="container">
<h2 class="center">Status page</h2>
<%@urls.each{|url|%>
<%if url.status  %>
<div class="panel panel-success">
  <div class="panel-heading"><h4><a target="_blank" href="<%=url.url%>"><%=url.url%></a></h4></div>
  <div class="panel-body">
  
 Loaded in   <%=url.loadtime.to_f.round(2)%> second(s)
 <br>
 <br>
Last check:  <%=url.update_at.strftime("%m-%e-%y %H:%M")%>
  <%else%>
<div class="panel panel-danger">
  <div class="panel-heading"><h4><a target="_blank" href="<%=url.url%>"><%=url.url%></a></h4></div>
  <div class="panel-body">
  
Error:  <%=url.message%>
<br>
<br>
Last check:  <%=url.update_at.strftime("%m-%e-%y %H:%M")%>

  <%end%>
  </div>
</div>

<%}%>
</div>
